version: '3.8'
services:
  web:
    build: .
    ports:
      - '8000:8000' # Django (Gunicorn)
      - '8501:8501' # Streamlit
    environment:
      - DJANGO_DEBUG=False
      - DJANGO_SECRET_KEY=dev-secret-for-local
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
    volumes:
      - ./:/app:cached
    command: /usr/bin/supervisord -n -c /etc/supervisor/conf.d/supervisord.conf
